<% include ../partials/header %>

<div class="jumbotron mathpic">
    <h1 id="math">Algebra 1 SOL Practice</h1>
</div>
<div class="container vids">
    <h1 class="changefontbold">Algebra I- Calculator Introduction</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/lSY6eDx6SzM" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Calculator Basics</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/g6EYeSuw4HE" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Section 1: Basic Storing</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/GdbZMX-AK74" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Section 2: Determining Zeros</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/qdRPko7upHE" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Section 3: Line of Best Fit</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/u610BRVyCZc" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Section 4: Graphing Equations of a Line</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-v1Jty-7GFI" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Section 5: Simplifying Expressions</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7XUVn_eLvTw" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Section 6: Solving for One Variable </h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VVqTYeNv18Y" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Section 7: Line of Best Fit Pt. 2 </h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/kKnXgyMFdLU" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Section  8: Simplifying Radicals</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/rKV5Jglh9Dg" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Section  9: Solving Equations Solutions Given</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ubxfyNJ4RP0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Section  10: Solving Inequalities-Solutions Given</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/S6YwceekeOU" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Section  11: Factoring Polynomials</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/pmF7aNNXm-o" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>


<% include ../partials/footer %>