<% include ../partials/header %>

<div class="jumbotron mathpic">
    <h1 id="math">Algebra 1 SOL Practice</h1>
</div>

<div class="container">
    <h3>Algebra 1 SAT Questions</h3>
    <h4 class="changefont"></h4>    
    <hr class="divider">

    <ul>
        <li><a href="/files/sol/a2b.pdf">VA SOL A2b-Polynomials</a></li>
        <li><a href="/files/sol/a3.pdf">VA SOL A3-Radicals </a></li>
        <li><a href="/files/sol/a4.pdf">VA SOL A4- Equations</a></li>
    </ul>
</div>
<% include ../partials/footer %>