<% include ../partials/header %>

<div class="jumbotron mathpic">
    <h1 id="math">Algebra 2 SOL Practice</h1>
</div>

<div class="container">
<h3><a href="/algebra2vids">Algebra 2 Overview Videos</a></h3>
<h4 class="changefont"></h4>

<% include ../partials/footer %>