<% include ../partials/header %>

<div class="jumbotron mathpic">
    <h1 id="math">Algebra 2 SOL Videos</h1>
</div>
<div class="container vids">
    <h1 class="changefontbold">Algebra II: Section 1-Store (Equivalence)</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/3MOUX7cYl5E" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Algebra II: Section 2-Store (Equivalence) Pt.2</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/I4IbKWzYE18" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Algebra II: Section 3-Store (Equivalence) Pt.3</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Too0U67OKTg" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Algebra II: Section 4-Store-Plugging In</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5kEAN0JOshQ" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Algebra II: Section 5-Store-Plugging In Pt.2</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zZx79hzQKw4" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Algebra II: Section 6-Store-Plugging In Pt.3</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/tMkjEACCIu4" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Algebra II: Section 7-Y-Equals Solving One Variable Equations</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zSbeawKglp8" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Algebra II: Section 8:Looking at Graphs</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Vt_ikd8e3iQ" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Algebra II: Section 9:Looking at Graphs Pt. 2</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/29cI_gtDUpU" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Algebra II: Section 10: Graph and Look</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/CIfDdR9EzOc" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Algebra II: Section 11: Graph and Look Pt.2</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-B-XtIj16d0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Algebra II: Section 12: Complex Numbers</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/y1qTJU6qRgs" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Algebra II: Section 13a: Factoring</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-AjHrVosjSA" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Algebra II: Section 13b: Nested Functions</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/o-Ze2Tbzj84" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Algebra II: Section 14: Series and Sequences</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/EY7xAvbAMv0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Algebra II: Section 15: Permutations and Combinations</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/hCFzX0IAToI" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Algebra II: Section 16: Inverse Functions</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/K0JJXl50pes" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Algebra II: Section 17: Line of Best Fit</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/SWlom2xL3gM" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>


<% include ../partials/footer %>