<% include ../partials/header %>

<div class="jumbotron mathpic">
    <h1 id="math">Algebra 1 SOL Practice</h1>
</div>

    <div class="container">
        <h1>Algebra 1 Skill Building Quizzes</h1>

        <div id="accordion" role="tablist">
          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
              <h5 class="mb-0">
                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Unit 1
                </a>
              </h5>
            </div>
        
            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body worksheets">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfngGA-wSiISlQibCVbz0kQ90RROmy1sjd2Ny4ORgf6oQb_cA/viewform">A1-a:Plugging into Equations</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSepEurQCGNtlXzpkEBZhWc3MCAAsxx5Oo0pmJqSUZQVA_HlMQ/viewform">A1-B:Translating from Words to Expressions</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfeOcxJZ-QRAMGpu_Fg1_qUMhshEsFTcivu8Z2RV4ltqR8ccw/viewform">A4-A:Solving Equations for a Given Variable</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSehNCHoi00BrmWYS4-juw40HztVbdCpvx3DW5Xc-4ssGbXSGQ/viewform">A4-B:Justifying Steps in Solving Equations- Properties</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeZUUgoRq82PWHXCKwLMKsldAQzFhvraDy5jQTJj64AplRMdw/viewform">A4-D--a:Solving Multi-step Linear Equations- Algebra</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSchyxJw9JfXTw_7OHxf2uaiIDp_ZjDFdF-H7GGoYu4dqlcYIg/viewform">A4-D--b:Solving Multi-Step Linear Equations- Graph</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeJLk0yOpUrEqv073VLfVpxciCv8dvK_Oc1JpiRl5dzSzKSMA/viewform">A5-A--a: Solving Linear Inequalities- Algebra</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScVghfKaRdTDBwfMer38jujI3YCZSrxeeUklPdHPXKRikh3Gw/viewform">A5-A--b: Solving Linear Inequalities- Graph</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScwWb4Wd-m7L-93g0vxvDL-OIgZFyjRgotyqXFBXLVDBJDklw/viewform">A5-B:Justifying Steps in Solving Inequalities</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeoex0fAGm5CIU1bM4SsBvHJQ0Ud3Qy1yOGwS7GEeflJr0ISQ/viewform">A5-C:Solving Real World Problems</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdi6w9RxE8vG8f1l9QgOMknXvzrIayP8TVV4Dwl0nHpVT5wnA/viewform">A7-A:Determining Function vs. Not Function</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdpu1YCQuzrBsB9EgFYwRciJlV39XjSYJot4BhWP_-69XmdPg/viewform">A7-B--a:Determining Domain</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfm4o4lwEaKCIe1s2-VZnLrbRVT0POL6V0ixu7idd9XAqsUOQ/viewform">A7-B--b:Determining Range</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfkHv8L121UW0ZTByOVZZQBdDWZ58okj4bqDMHw-iu6HtOYWw/viewform">A7-C:Determining Zeros</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSejNZXQrT12YEwllWl2eZWWBfaPC6veXegBwLZR9i_R_Oe53A/viewform">A7-E:Find Values based on Domain</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSd7vQbrv5OXNJ1i10-vliaOcAuaurzIrZTCOJHbK0w5Oo78Xg/viewform">A7-F:Real World Scenarios</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeZ-ZPmmFj3UkPJtwR4dEezDpkw5vux_0KGEzXct1At1-qqfg/viewform">A7-G:Intervals Increasing/Decreasing</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Unit 2
                </a>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body worksheets">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScM-7NBTKMLCLghQHRcm_eiLddaVACBddl2YS-EVlxjJINXsg/viewform">A7-D--a:Finding X intercepts</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScvKfe2wmt-mpMKDouoZHL1qQsl4HLWYpSVYkB425kctK151Q/viewform">A7-D--b:Finding Y intercepts</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdW_fHHZToc8E3RWl-FOaJp_4OhH2XfQm4_QlwUTc3nihArEA/viewform">A6-A--a:Determining Slope- from Graph</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfD8V27k7R6NOA7aQj2TN_tVxC7w5_1I2Aty0J8_MNEbBTSYA/viewform">A6-A--b:Determining Slope- from Equation</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfXfSuhRetlMHQCxvJ9IvPUcRIMr2aqmXOgWKomD5-nPw1V_A/viewform">A6-B--a:Determining Slope- from Points</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSd1zspuauRpDubeQP3-qTEqw6TUeg9zOC-eYqeBCYW4OkE_qQ/viewform">A6-B--b:Writing Equation of a Line</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfvKo0KdeNYPyh5dNo-RqrYGQJmAudyyETx7hgJpIr10dpVTw/viewform">A4-E--a:Solving System of Equations-Algebra</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfRYRgqm2WLzQe3bveahDZexffguVFZOlL7s9uYBzoni6rWRA/viewform">A4-E--b:Solving System of Equations-Graph</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSctEuN-Yya3RptUfeEgiV7NVgGoUyOi4n5vpp6uMV05zx70ig/viewform">A4-F--a: Solving Real World Problems-Equations</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdM8uX2g7oSXIAAZ7HKg89fPOArFW1HCAnpdQmZ6dCG7IyqDw/viewform">A4-F--b:Solving Real World Problems-Systems of Equation</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSenFSdB8mTVTozSlsec8a4T7sXmek2qyie0MquicK8ZVYMErQ/viewform">A5-D--a:Solving System of Inequalities-Algebra</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSe7LnM5uh41C2ht0TvR4qTamWhwkNYq8byjAGMI2uODhlw-XQ/viewform">A5-D--b:Solving System of Inequalities-Graph</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingThree">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Unit 3
                </a>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body worksheets">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfgQ9CHunDp6s2nGDm_0EVvgruTRW-ffG3sGlC-oefrDC19vg/viewform">A8-a:Direct Variation</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSd5KpSHeEU3VcsSzoAqxYt2rjxRwXWmwUNPg_wPsle3FOeIRQ/viewform">A8-b: Indirect Variation</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScvuHLaRnBUKeLGht6fo0D9-C41b7ESrO_2aHD87B64gK2gwg/viewform">A2-A--ab: Multiplying and Dividing Exponents, Exponents Raised to Power</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeDX9jSAykgUc0jFHZo1uQ19jpv4SSMF34Ofz9roxNigr4rpA/viewform">A2-B-a:Add and Subtract Polynomials</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfZPLTBFX8nj3LI6d-ILc6vmAE4aQs4EO0kzoEtCQzqYpwC-Q/viewform">A2-B-b:Multiply and Divide Polynomials</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScHHKzXppSYNa1YfOakAHtpaIMgjb3RD_OYp5lrislDz9XnZw/viewform">A2-C-a: Factoring Binomials and Trinomials</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScW1gY-et2BavJW0M4AuBgxEWiNkjfINa58yRnFhW0fwH-v7g/viewform">A3-a: Simplifying Square Roots</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdhamU3Pmh7nNBCBM8TkH8n-VxstGSr_iHzmzQqXZUtVF2mbQ/viewform">A4-C--a: Solving Quadratic Equations-Algebra</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeSOdH_iwnuVXedYagZbesu3ip3TccvPI8wrDuYTXjeo17vig/viewform">A3-b: Simplifying Cube Roots</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSc4w2E5aiijOnefB5nYxsffMeldc6qninH6hOMraa7QUU5gtw/viewform">A9--a:Mean</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSe-CW7VrUvSa1NaDoESvUCy7tpnpdzVndy8tAV6IQY4ZPfiBA/viewform">A9--b: Absolute Deviation</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSd5AYyHGqmsEd1KbtQL3XK1agCGCy7HCu8sLn0PNbbWWD64TQ/viewform">A9--c: Standard Deviation</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfUgi7ypduDg3GfGCehReZzJO-BCg38fEmtn-J7jVUO5OLD6A/viewform">A9--d: Z-score</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfo7_Oordpena2lolaSUXxVUDL1E4BUvaTOH6taqi6M6rQH2w/viewform">A10-a:Using Box and Whisker Plot</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdjQLoqUz3eQpPDNPYY-TvQn9AWhYduEMCI4R6-P0a2NZWaTQ/viewform">A11-a:Find Lines of Best Fit</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingFour">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Review Quizzes
                </a>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body worksheets">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfoV3EyOTHruIfm07hWuv0x4BtMKIlooKTGYojE6JsGssDagQ/viewform">Review Quiz 1</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfUmDXzBQI0yv_BtyPuXfDIIpasCeUFwNiMqV3LT64nSIQ_EA/viewform">Review Quiz 2</a>
              </div>
            </div>
          </div>


</div>
<% include ../partials/footer %>