<% include ../partials/header %>

<div class="jumbotron mathpic">
    <h1 id="math">Algebra 1 SOL Practice</h1>
</div>

<div class="container">
<h3><a href="/files/sol/solalgebra1.pdf">Review Sheet</a></h3>
<h3><a href="/algebra1calcvids">Calculator Strategy Videos</a></h3>
<h3><a href="/algebra1songvids">Song Videos</a></h3>
<h3><a href="algebra1sat">SOL SAT Questions</a></h3>
<h3><a href="algebra1quizzes">Skill Building Quizzes</a></h3>
<% include ../partials/footer %>