<% include ../partials/header %>

<div class="jumbotron geometrypic">
    <h1 id="math">Geometry SOL Practice</h1>
</div>

<div class="container">
<h3><a href="/geometryvids">Geometry Overview Videos</a></h3>
<br>

    <div style="width:400px;" class="list-group">
      <button type="button" class="list-group-item list-group-item-action disabled active">
        <h4>Review Sheets</h4>
      </button>
      <a href="/files/sol/g1.pdf" class="list-group-item list-group-item-action">G1</a>
      <a href="/files/sol/g2.pdf" class="list-group-item list-group-item-action">G2</a>
      <a href="/files/sol/g3.pdf" class="list-group-item list-group-item-action">G3</a>
      <a href="/files/sol/g4.pdf" class="list-group-item list-group-item-action">G4</a>
      <a href="/files/sol/g5.pdf" class="list-group-item list-group-item-action">G5</a>
      <a href="/files/sol/g6.pdf" class="list-group-item list-group-item-action">G6</a>
      <a href="/files/sol/g7.pdf" class="list-group-item list-group-item-action">G7</a>
      <a href="/files/sol/g8.pdf" class="list-group-item list-group-item-action">G8</a>
      <a href="/files/sol/g9.pdf" class="list-group-item list-group-item-action">G9</a>
      <a href="/files/sol/g10.pdf" class="list-group-item list-group-item-action">G10</a>
      <a href="/files/sol/g11.pdf" class="list-group-item list-group-item-action">G11</a>
      <a href="/files/sol/g12.pdf" class="list-group-item list-group-item-action">G12</a>
      <a href="/files/sol/g13.pdf" class="list-group-item list-group-item-action">G13</a>
      <a href="/files/sol/g14.pdf" class="list-group-item list-group-item-action">G14</a>
    </div>
</div>
<% include ../partials/footer %>