<% include ../partials/header %>
<div class="jumbotron pencilpic">
    <h1 id="math">SOL Practice</h1>
</div>

<div class="container sectiontwo">
  <div class="row">
    <div class="col-lg-4 col-sm-12">
        <i class="icons fa fa-calculator fa-5x" aria-hidden="true"></i>
        <h2><a href="/algebra1">Algebra 1</a></h2>
    </div>
    <div class="col-lg-4 col-sm-12">
        <i class="icons fa fa-cubes fa-5x" aria-hidden="true"></i>
        <h2><a href="/geometry">Geometry</a></h2>
    </div>
    <div class="col-lg-4 col-sm-12">
        <i class="icons fa fa-calculator fa-5x" aria-hidden="true"></i>
        <h2><a href="/algebra2">Algebra 2</a></h2>
    </div>
  </div>
</div>

<% include ../partials/footer %>