<% include ../partials/header %>
<div class="jumbotron pencilpic">
    <h1 id="satprep">SAT Practice</h1>
</div>

<div class="container sectiontwo">
  <div class="row">
    <div class="col-lg-3 col-sm-6">
        <i class="icons fa fa-file-text fa-5x" aria-hidden="true"><a href="/"></a></i>
        <h2><a href="/fulltests">Full Practice Tests</a></h2>
        <h4>Simulate test day and estimate your score with a full practice test, writing prompt, and solution set.</h4>
    </div>
    <div class="col-lg-3 col-sm-6">
        <i class="icons fa fa-calculator fa-5x" aria-hidden="true"></i>
        <h2><a href="/math">Math Section</a></h2>
        <h4>Get ready for the math section with worksheets divided by topic and difficulty, as well as tutorials on the most common math concepts on the test.</h4>
    </div>
    <div class="col-lg-3 col-sm-6">
        <i class="icons fa fa-book fa-5x" aria-hidden="true"></i>
        <h2><a href="/readingpractice">Reading Section</a></h2>
        <h4>Prepare for the reading section with quick worksheets to help you know what to expect.</h4>
    </div>
    <div class="col-lg-3 col-sm-6">
        <i class="icons fas fa-pencil-alt fa-5x" aria-hidden="true"><a href="/"></a></i>
        <h2><a href="/writingpractice">Writing/Language Section</a></h2>
        <h4>Strengthen your writing skills with grammar guides on the topics that commonly appear in the writing section.</h4>
    </div>
  </div>
</div>

<% include ../partials/footer %>