<!DOCTYPE html>
<html>
    <head>
        <title>SAT Initiative</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui fixed menu">
            <div class="ui container">
                <div class="header item">
                    <i class="student icon"></i>
                    <a href="/">SAT Initiative</a>
                </div>
                <a href="/" class="item">Home</a>
                <a href="/about" class="item">About</a>
                <a href="/satprep" class = "item">SAT Practice</a>
                <a href="/solprep" class = "item">VA SOL Practice</a>
            </div>
        </div>
        
