<!DOCTYPE html>
<html>
    <head>
        <title>The College Readiness Initiative</title>
        <link rel="shortcut icon" href="/logosmall.png">
        <link rel="icon" href="/logosmall.png">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
        <script src="https://use.fontawesome.com/a0335568e4.js"></script>
        <script>
          // jQuery(function($) {
          // $('.navbar .dropdown').hover(function() {
          // $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();

          // }, function() {
          // $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp();

          // });

          // $('.navbar .dropdown > a').click(function(){
          // location.href = this.href;
          // });

          // });
        </script>
    </head>
    <body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="/images/logo.png" height="40" class="d-inline-block align-top" alt="">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="/about" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/about">About</a></li>
            <li><a href="/boardmembers">Board Members</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="/satprep" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SAT Practice <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/fulltests">Full Practice Tests</a></li>
            <li><a href="/mathpractice">Math Practice</a></li>
            <li><a href="/readingpractice">Reading Practice</a></li>
            <li><a href="/writingpractice">Writing Practice</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="/solprep" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">VA SOL Practice <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/algebra1">Algebra 1</a></li>
            <li><a href="/geometry">Geometry</a></li>
            <li><a href="/algebra2">Algebra 2</a></li>
          </ul>
        </li>
        <li><a href="/testadmindashboard">Admin Dashboard</a></li>

      </ul>


      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Student <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a onclick=" window.open('https://docs.google.com/forms/d/e/1FAIpQLSddYBzbZqe3q61ya-qxeMOV9S1YYUiehHUdrJg-tujgoqA4vA/viewform?usp=sf_link')" role="button">New Student Sign Up</a></li>
            <li><a onclick=" window.open('https://docs.google.com/forms/d/e/1FAIpQLScjpn-RbijDSqrf97oIDwgarG3fHchl4bWxRARqYfN530vfBA/viewform?usp=sf_link')" role="button">Returning Student Sign in</a></li>
          </ul>
        </li>
        <li><a href="/volunteer">Volunteer</a></li>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
