<!DOCTYPE html>
<html>
    <head>
        <title>SAT Initiative</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    </head>
    <body>
        <div class="ui fixed menu">
            <div class="ui container">
                <div class="header item">
                    <i class="student icon"></i>
                    <a href="/">SAT Initiative</a>
                </div>
                <a href="/" class="item">Home</a>
                <a href="/about" class="item">About</a>
                <div class="ui simple dropdown item">
                    <a class="headerlink" href="/satprep">SAT Practice</a>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div><a class = "item" href="/fulltests">Full Practice Tests</a></div>
                        <div><a class = "item" href="/mathpractice">Math Practice</a></div>
                        <div><a class = "item" href="/readingpractice">Reading Practice</a></div>
                        <div><a class = "item" href="/writingpractice">Writing Practice</a></div>
                    </div>
                </div>
                
                <a href="/solprep" class = "item">VA SOL Practice</a>
            </div>
        </div>
        
