<% include ../partials/header %>
<div class="jumbotron notebookpic">
    <h1 id="pagetitle">Login as:</h1>
</div>
<div class="container" align="center">
    <a class="btn btn-primary btn-lg" href="/login/student" role="button">Student</a>
    <a class="btn btn-info btn-lg" href="/login/tutor" role="button">Tutor</a>
    <a class="btn btn-success btn-lg" href="/login/admin" role="button">Admin</a>
</div>
<% include ../partials/footer %>