<% include ../partials/header %>

<div class="jumbotron notebookpic">
    <h1 id="pagetitle">Register Admin Account</h1>
</div>
<div class="container">
    <form action="/register/admin" method="post">
        <div class="form-group">
            <label for="usernameInput">Email address</label>
            <input type="text" class="form-control" id="usernameInput" name="username" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="passwordInput">Password</label>
            <input type="password" class="form-control" id="passwordInput" name="password" placeholder="Password">
        </div>
        <button class="btn btn-primary mb-2">Sign up!</button>
    </form>
    <h4><a href="/login">Already registered?</a></h4>
</div>
<% include ../partials/footer %>