<% include ../partials/header %>

<div class="jumbotron notebookpic">
    <h1 id="pagetitle">Register as:</h1>
</div>
<div class="container" align="center">
    <a class="btn btn-primary btn-lg" href="/register/student" role="button">Student</a>
    <a class="btn btn-success btn-lg" href="/register/tutor" role="button">Tutor</a>
    <br>
    <br>
    <h4><a href="/login">Already registered?</a></h4>
</div>







<% include ../partials/footer %>