<% include partials/header %>

<div class="jumbotron notebookpic">
    <h1 id="pagetitle">About The College Readiness Initiative</h1>
    <h2 class="pagesub">Founded in 2015, the College Readiness Initiative works to provide free, quality SAT preparation to students in Richmond, Virginia who demonstrate commitment to improving their SAT scores.</h2>
</div>
<div class="container">
    <div class="pagetext">
        <p>The College Readiness Initiative provides access to free online tests and additional study materials, with the goal of closing the gap in access to higher education caused by disparities in resources.</p>
        <p>Originally known as The SAT Initiative, The College Readiness Initiative was founded August 2015 in Richmond, VA by Liam Mulcahy- a Virginia resident and graduate of the University of Richmond. Liam currently teaches Algebra I at Armstrong High School. The program is composed of undergraduate students from the University of Richmond who are committed to helping students of the Richmond City Public Schools. These undergraduates develop study materials and provide free instructional sessions to help underserved high school students improve their SAT scores.</p>
        <p>Beyond teaching the testing strategies often presented in expensive, private review materials, the team of undergraduates enrich the high school participants’ understanding of essential mathematics and literacy applicable to success in postsecondary education.</p>
        <p>To further support students throughout their high school careers, the College Readiness Initiative expanded its role to helping students learn the foundational curricula covered in the Virginia Standards of Learning (SOL). Performance on the Algebra l, Geometry, and Algebra ll tests have some predictive accuracy on how a student might perform on the Mathematics SAT test. Similarly, the English SOLs provide a basic foundation for the Reading and Writing Sections of the SAT. </p>
        <p>Higher education is the key to ending the cycle of poverty and promoting economic development. We believe that every student, regardless of socioeconomic status, deserves a chance at academic success.</p>
    </div>
</div>

<% include partials/footer %>



