<% include partials/header %>
<!--<div id="home" class="jumbotron">-->
<!--  <h1 id="hometitle">The College Readiness Initiative</h1>-->
<!--  <p class="homesub">Helping students in Richmond, Virginia achieve their full college potential through SOL and SAT tutoring</p>-->
<!--  <p><a class="btn btn-success btn-lg" href="/satprep" role="button">Practice Now</a></p>-->
<!--</div>-->
<div id="about" class="jumbotron">
    <h1 id="abouttitle">About The College Readiness Initiative</h1>
    <h2 id="aboutsub">Founded in 2015, the College Readiness Initiative helps students in Richmond, Virginia achieve their full college potential through SOL and SAT tutoring</h2>
</div>
<div class="about2">
    <div class="ui grid">
        <div class ="eight wide column">
            <h1 class="homeinfo">Mission Statement:</h1>
            <h2 class="homeinfo">To be a catalyst for ambitious students who demonstrate commitment to improving their SAT scores, by providing free, quality SAT preparation led by local college students.</h2>
        </div>
    </div>
    <div class="about">
        <p>Through the College Readiness Initiative, we provide access to free, online test solutions, and additional study materials.  As the college admissions process becomes increasingly competitive, College Readiness Initiative intends to help underserved students attend prestigious colleges and universities. The goal of College Readiness Initiative is to close the gap in access to higher education caused by disparities in resources. College Readiness Initiative is designed to create a pathway for students looking to improve their SAT scores. By building a cooperation of committed students, we will work to provide each student with the resources and guidance needed to realize his full potential.</p>
        <p>The SAT Initiative, the original program within the College Readiness Initiative, is composed of undergraduate students from the University of Richmond who are committed to helping students of the Richmond City Public Schools. These undergraduates develop study materials and provide free instructional sessions to help underserved high school students improve their SAT scores. Despite claims by admissions offices at some colleges that the SAT is an antiquated, thus lightly weighted measure, the score received on this test serves to indicate a student’s preparedness for a college application. The SAT weighs more heavily as a test for academic preparedness in historically less privileged school districts, in which grades are often dismissed as less credible.</p>
        <p>Beyond teaching the testing strategies often presented in expensive, private review materials, the team of undergraduates enrich the high school participants’ understanding of essential mathematics and literacy applicable to success in postsecondary education.</p>
        <p>To support underserved students throughout their high school careers, the College Readiness Initiative expanded its role to helping students learn the foundational curricula covered in the Virginia Standards of Learning. Performance on the Algebra l, Geometry, and Algebra ll tests have some predictive accuracy on how a student might perform on the Mathematics SAT test. Similarly, the English SOLs provide a basic foundation for the Reading and Writing Sections of the SAT.  </p>
        <p> College Readiness Initiative, originally The SAT Initiative, was founded August 2015 in Richmond, VA by Liam Mulcahy- a Virginia resident and graduate of the University of Richmond. Members of College Readiness Initiative believe that every student has the potential to improve their standardized test scores and attain admission into selective colleges and universities.  Students from communities without access to the necessary resources, such as SAT practice tests, tutoring, and study guides, are at a disadvantage when it comes to preparing for this test.</p>
        <p>Higher education is the key to ending the cycle of poverty and promoting economic development. We believe that every student, regardless of socioeconomic status, deserves a  reasonable chance at academic success.</p>
    </div>
</div>





