<% include partials/header %>
<div class="jumbotron profilepic">
  <h1 id="profiletitle">Admin Dashboard</h1>
</div>


<div class="profileinfo">
	<% admins.forEach(function (admin) { %>
		<%= admin.username %> 
		<%= admin.password %>
	<% }) %>
</div>



<% include partials/footer %>
