<% include partials/header %>
<div class="jumbotron notebookpic">
  <h1 id="profiletitle">Welcome to your Admin Dashboard</h1>
</div>


<div class="profileinfo">
	<div class="wrapper">
		<aside class="aside aside-1"><img src="https://placekitten.com/200/300" /></aside>
		<article class="main">
			<h3><%= admins[0].name %></h3> <!--first admin in db-->
			<h3><%= admins[0].username %></h3>
			<h3>(123) 456-7890</h3>
			<h3>Address</h3>
		</article>
	</div>
</div>

<div class="container">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">View List of Students/Tutors</h5>
			<a href="/userdirectory" class="btn btn-primary">View</a>
		</div>
	</div>
</div>
<br>
<div class="container">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Upload Questions via CSV</h5>
			<p class="card-text">Use a download link to a CSV file to upload questions to the question database.</p>
			<a href="/questionupload" class="btn btn-primary">Upload Questions</a>
		</div>
	</div>
</div>

<% include partials/footer %>
