<% include partials/header %>
<div class="jumbotron notebookpic">
  <h1 id="profiletitle">Welcome to your Admin Dashboard</h1>
</div>


<div class="profileinfo">
	<div class="wrapper">
		<aside class="aside aside-1"><img src="https://placekitten.com/200/300" /></aside>
		<article class="main">
			<h3><%= admins[0].name %></h3> <!--first admin in db-->
			<h3><%= admins[0].username %></h3>
			<h3>(123) 456-7890</h3>
			<h3>Address</h3>
		</article>
	</div>
</div>

<div class="container">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">View List of Students/Tutors</h5>
			<a href="/userdirectory" class="btn btn-primary">View</a>
		</div>
	</div>
</div>

<br>

<div class="container">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Upload Questions via CSV</h5>
			<p class="card-text">Use a download link to a CSV file to upload questions to the question database.</p>
			<a href="/questionupload" class="btn btn-primary">Upload Questions</a>
		</div>
	</div>
</div>

<br>

<!-- Add School Functionality -->
<div class="container">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Add School</h5>
	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSchoolModal">Add</button>

	<!-- Modal -->
	<div class="modal fade" id="addSchoolModal" tabindex="-1" role="dialog" aria-labelledby="addSchoolModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="addSchoolModalLabel">To add a school:</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			    <form action="/admindashboard" method="post">
					<div class="form-group">
						<label for="schoolnameInput">Name of School</label>
						<input type="text" class="form-control" id="schoolnameInput" name="name" placeholder="Enter name of School">
					</div>
					<button class="btn btn-primary mb-2">Add</button>
				</form>
			<!-- <div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">School Name</span>
					</div>
					<input id="schoolname" type="text" class="form-control" placeholder="Name of School" aria-label="Name of School" aria-describedby="basic-addon1">
					<div class="input-group-prepend">
						<span class="input-group-text">City</span>
					</div>
					<input type="text" class="form-control" placeholder="City" aria-label="City" aria-describedby="basic-addon1">
					<div class="input-group-prepend">
						<span class="input-group-text">Zip Code</span>
					</div>
					<input type="text" class="form-control" placeholder="Zip Code" aria-label="Zip Code" aria-describedby="basic-addon1">			</div>
			<div class="input-group"> -->
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
		</div>
	</div>
	</div>
	</div>
		</div>
	</div>
</div>

<% include partials/footer %>
