<% include partials/header %>

<div class="jumbotron mathpic">
    <h1 id="math">Algebra 1 SOL Practice</h1>
</div>
<div class="container vids">
    <h1 class="changefontbold"></h1>
    
    
</div>


<% include partials/footer %>