<% include partials/header %>

<div class="jumbotron mathpic">
    <h1 id="math">Algebra 1 SOL Practice</h1>
</div>
<div class="container vids">
    <h1 class="changefontbold">Basic Storing- Values Given in Question </h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7IgigvKTwAY" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Determining the Zeros of a Function</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/IASKHs1zgsc" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Tables Pt. 1- Line of Best Fit</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/mTthiuPwdpM" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Simplifying Expressions</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/t2Owq94Jp0k" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Solving For One Variable- Free Response</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/wzOl0yFoSco" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Tables Pt. 2- Line of Best Fit- Predicting Values</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/SmdwFiKPKkk" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Simplifying Radicals</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/UWq2OZ2aqI4" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Solving Equations- Solutions Given</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/b58Oho4BYGc" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    <h1 class="changefontbold">Factoring Polynomials</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/T_xfPrOcLxY" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    
    
</div>


<% include partials/footer %>