<% include partials/header %>

<div class="jumbotron mathpic">
    <h1 id="math">Algebra 1 SOL Practice</h1>
</div>

<div class="container">
<h3><a href="http://nebula.wsimg.com/cb3a80e9bd1be538833abbe1a66bd782?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Algebra 1 Review Sheet</a></h3>
<h3><a href="/algebra1calcvids">Algebra 1 Calculator Strategy Videos</a></h3>
<h4 class="changefont"></h4>
<h3><a href="/algebra1songvids">Algebra 1 Songs</a></h3>
<h4 class="changefont"></h4>
Algebra 1 on SAT,
Skill Building Quizzes
<% include partials/footer %>