
<% include partials/header %>

<div class="jumbotron notebookpic">
    <h1 id="pagetitle">Answer Keys</h1>
    <h2 class="pagesub">All Problems and Answers.</h2>
</div>
<div class="container pagetext">
    <h2>Questions and Answers: </h2>


<% questions.forEach(function(question){ %>
  <p>Yes!</p>
<% }) %>

<!-- <% for (var i = 0; i <3; i++) { %>
  Hello!
  <% } %>



</div>

<% include partials/footer %>
