<% include partials/header %>

<div class="jumbotron notebookpic">
    <h1 id="pagetitle">Board Members</h1>
</div>
<div class="container">
    <div class="pagetext">
        <h1 style="color:#3771ce;">Chairman</h1>
        <h2 class="changefontbold">LIAM MULCAHY</h2>
        <p>Liam graduated from the University of Richmond in 2016 with a Bachelor’s Degree in Interdisciplinary Physics-Math. He founded the College Readiness Initiative in the fall of 2015, and finalized the organization as College Readiness Initiative, Inc. in the April of 2017.</p>
        <p>Liam is currently working as a math teacher at Armstrong High School. He is working towards growing the College Readiness Initiative to break down the wall that the SAT presents in limiting students’ opportunities for college admissions.</p>
        <p><em>“I believe that every student should have the opportunity to fulfill his potential.”</em></p>
        <hr>
        <br>
        
        <h1 style="color:#3771ce;">Board Members</h1>
        <h2 class="changefontbold">MARGARET COTTER ROCKWELL</h2>
        <p>Margaret attended Virginia Commonwealth University where she received Bachelor’s Degrees in both political science and international studies. Margaret is now studying law at the University of Richmond with a focus in regulatory compliance and economic development. She hopes to one-day assist businesses and nonprofits in understanding state and federal requirements so that these entities may thrive. Margaret believes that education serves as a vital mechanism for self-determination and empowerment. She strives to support the efforts of the College Readiness Initiative so that more students in Richmond have access to SAT practice and preparation.</p>
        <p><em>“Supporting the College Readiness Initiative means pursuing education equity in the Richmond community.”</em></p>
        <br>
        
        <h2 class="changefontbold">TAYLOR DALE HOLDEN</h2>
        <p>Taylor attended University of Richmond where he received a BS in Geography and Environmental Studies. Taylor is currently working at the GIS Technician for the Spatial Analysis Lab, a lab he worked in for 3 years as an undergraduate. He is also finishing the Masters of Nonprofit Studies through the School of Professional and Continuing Studies (SPCS). His research and career interest lie with helping people leverage data to build healthier, stronger, more just communities.</p>
        <p><em>“The College Readiness Initiative provides an opportunity to help students improve their lives and to work with others serving the Richmond education community.”</em></p>
        <br>
        
        <h2 class="changefontbold">ERIK B. JOHNSON</h2>
        <p>Erik received his BS in Economics from Northern Michigan University before going to the University of Colorado where he received his MA as well as his PhD in Economics. He previously taught in the economics department at the University of Richmond. He is currently an assistant professor of economics at the University of Alabama. His interest in CRI lies in his desire to maximize educational outcomes for underserved students.</p>
        <p><em>“CRI allows me to be involved in actual student outcomes rather than just evaluating outcomes through the lens of data.”</em></p>
         
    </div>
</div>

<% include partials/footer %>



