<% include partials/header %>

<div class="container">
    <h1>Congrats, you've finished all questions in the <%= type %> category! </h1>
    <% var reviewLink = "/review/" + type %>
    <a href=<%= reviewLink%>>Review what you missed in this category</a>
</div>

<% include partials/footer %>