<% include partials/header %>
<div class="jumbotron pencilpic">
    <h1 id="fulltests">Full Practice Tests</h1>
</div>


<div class="container">
    <h2>Get ready for test day with a full practice test.</h2>
        <div>
            <a class="practicetesttext" href= "/files/fulltests/test1full.pdf">Practice Test 1</a>
            <div class="ui horizontal divider"></div>
            <a href="/files/fulltests/test1writing.pdf">Writing Prompt</a>
            <div class="ui horizontal divider"></div>
            <a href="/files/fulltests/test1solutions.pdf">Solutions and Scoring</a>
        </div>
        <div>
            <a class="practicetesttext" href= "/files/fulltests/test2full.pdf">Practice Test 2</a>
            <div class="ui horizontal divider"></div>
            <a href="/files/fulltests/test2writing.pdf">Writing Prompt</a>
            <div class="ui horizontal divider"></div>
            <a href="/files/fulltests/test2solutions.pdf">Solutions and Scoring</a>
        </div>
        <div>
            <a class="practicetesttext" href= "/files/fulltests/test3full.pdf">Practice Test 3</a>
            <div class="ui horizontal divider"></div>
            <a href="/files/fulltests/test3writing.pdf">Writing Prompt</a>
            <div class="ui horizontal divider"></div>
            <a href="/files/fulltests/test3solutions.pdf">Solutions and Scoring</a>
        </div>
        <div>
            <a class="practicetesttext" href= "/files/fulltests/test4full.pdf">Practice Test 4</a>
            <div class="ui horizontal divider"></div>
            <a href="/files/fulltests/test4writing.pdf">Writing Prompt</a>
            <div class="ui horizontal divider"></div>
            <a href="/files/fulltests/test4solutions.pdf">Solutions and Scoring</a>
        </div>
</div>

<% include partials/footer %>