<% include partials/header %>

<div class="jumbotron geometrypic">
    <h1 id="math">Geometry SOL Practice</h1>
</div>
<div class="container vids">
    <h1 class="changefontbold">G1: Conditional Statements, Logic</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/wgkFF0NoqPU" frameborder="0" allowfullscreen></iframe>
    
    <h1 class="changefontbold">G2: Parallel Lines</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/UAoV5Sov9ZA" frameborder="0" allowfullscreen></iframe>
    
    <h1 class="changefontbold">G3: Formulas, Symmetry, Transformations</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/N43c1xb5glQ" frameborder="0" allowfullscreen></iframe>
    
    <h1 class="changefontbold">G4: Constructions</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ft0rWk57Q7s" frameborder="0" allowfullscreen></iframe>
    
    <h1 class="changefontbold">G5: Triangles-Sides and Angles</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/evALNKbqPq4" frameborder="0" allowfullscreen></iframe>
    
    <h1 class="changefontbold">G6: Congruent Triangles</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0I5REqm7F0Y" frameborder="0" allowfullscreen></iframe>
    
    <h1 class="changefontbold">G7: Similar Triangles</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0kexDz8Dn2g" frameborder="0" allowfullscreen></iframe>
    
    <h1 class="changefontbold">G8: Right Triangles</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Hn5iGtVO0Xk" frameborder="0" allowfullscreen></iframe>
    
    <h1 class="changefontbold">G9: Quadrilaterals</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/n1IVf7etf8I" frameborder="0" allowfullscreen></iframe>
    
    <h1 class="changefontbold">G10: Angles of Polygons</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/su1L_KTukrk" frameborder="0" allowfullscreen></iframe>
    
    <h1 class="changefontbold">G11: Circle Formulas</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/S7JVhTVWmUw" frameborder="0" allowfullscreen></iframe>
    
    <h1 class="changefontbold">G12: Equation of a Circle</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/1OhsVFFIQrM" frameborder="0" allowfullscreen></iframe>
    
    <h1 class="changefontbold">G13: Surface Area and Volume</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/D55JccbNahI" frameborder="0" allowfullscreen></iframe>
    
    <h1 class="changefontbold">G14: Similar Solids</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ttSDJ9o4NSg" frameborder="0" allowfullscreen></iframe>
</div>


<% include partials/footer %>