<% include partials/header %>

<div class="jumbotron geometrypic">
    <h1 id="math">Geometry SOL Practice</h1>
</div>

<div class="container">
<h3><a href="/geometryvids">Geometry Overview Videos</a></h3>

<h3>Review Sheets</h3>
<h4 class="changefont"></h4>    
<hr class="divider">

    <ul>
        <li><a href="/files/sol/g1.pdf">G1</a></li>
        <li><a href="/files/sol/g2.pdf">G2</a></li>
        <li><a href="/files/sol/g3.pdf">G3</a></li>
        <li><a href="/files/sol/g4.pdf">G4</a></li>
        <li><a href="/files/sol/g5.pdf">G5</a></li>
        <li><a href="/files/sol/g6.pdf">G6</a></li>
        <li><a href="/files/sol/g7.pdf">G7</a></li>
        <li><a href="/files/sol/g8.pdf">G8</a></li>
        <li><a href="/files/sol/g9.pdf">G9</a></li>
        <li><a href="/files/sol/g10.pdf">G10</a></li>
        <li><a href="/files/sol/g11.pdf">G11</a></li>
        <li><a href="/files/sol/g12.pdf">G12</a></li>
        <li><a href="/files/sol/g13.pdf">G13</a></li>
        <li><a href="/files/sol/g14.pdf">G14</a></li>
    </ul>
</div>
<% include partials/footer %>