<% include partials/header %>
<div id="home" class="jumbotron">
  <h1 id="hometitle">The College Readiness Initiative</h1>
  <p class="homesub">Helping students in Richmond, Virginia achieve their full college potential through SOL and SAT tutoring</p>
  <p><a class="btn btn-success btn-lg" href="/satprep" role="button">Practice Now</a></p>
</div>

<div id="home2" class="container">
  <div class="row">
    <div class="col-lg-4 col-sm-12">
        <i class="icons fa fa-bar-chart fa-5x" aria-hidden="true"></i>
        <h2 class="changefont">Recent SAT results show that students in Richmond's Public School system score in the lowest 10th percentile of all students who take the SAT.</h2>
    </div>
    <div class="col-lg-4 col-sm-12">
        <i class="icons fa fa-arrow-up fa-5x" aria-hidden="true"></i>
        <h2 class="changefont">By learning test-taking skills and reinforcing concepts learned in class, the College Readiness Initiative helps students increase their score on both the SAT and SOL.</h2>
    </div>
    <div class="col-lg-4 col-sm-12">
        <i class="icons fa fa-university fa-5x" aria-hidden="true"></i>
        <h2 class="changefont">Tutors are University of Richmond students or members of the community. Learn more about how to volunteer <a href="/volunteer">here.</a></h2>
    </div>
  </div>
</div>





