<% include partials/header %>
<div class="jumbotron pencilpic">
  <h1 id="hometitle">The College Readiness Initiative</h1>
  <p class="homesub">Helping students in Richmond, Virginia achieve their full academic potential through SAT and SOL tutoring</p>
  <p><a class="btn btn-primary btn-lg" onclick=" window.open('https://docs.google.com/forms/d/e/1FAIpQLSfD6xyYoFzm4A2DN9k-G6uz1akIPzdXW_5cV2WWhV5mxJ9CIA/viewform')" role="button">Sign up</a>
  <a class="btn btn-info btn-lg" href="/satprep" role="button">SAT Practice</a>
  <a class="btn btn-success btn-lg" href="/solprep" role="button">SOL Practice</a></p>
</div>

<div class="container sectiontwo">
  <div class="row">
    <div class="col-lg-4 col-sm-12">
        <i class="icons fa fa-bar-chart fa-5x" aria-hidden="true"></i>
        <h2 class="changefont">Recent SAT results show that students in Richmond's Public School system score below the state and national average, putting them at a disadvantage when applying for college.</h2>
    </div>
    <div class="col-lg-4 col-sm-12">
        <i class="icons fa fa-arrow-up fa-5x" aria-hidden="true"></i>
        <h2 class="changefont">By learning test-taking skills and reinforcing concepts learned in class, the College Readiness Initiative helps students increase their score on both the SAT and SOL.</h2>
    </div>
    <div class="col-lg-4 col-sm-12">
        <i class="icons fa fa-university fa-5x" aria-hidden="true"></i>
        <h2 class="changefont">Our tutors are local college students and other dedicated members of the Richmond community. Learn more about how to volunteer <a href="/volunteer">here.</a></h2>
    </div>
  </div>
</div>

<% include partials/footer %>
