<% include partials/header %>
<div class="jumbotron pencilpic">
  <h1 id="hometitle">The College Readiness Initiative</h1>
  <p class="homesub">Helping students in Richmond, Virginia achieve their full academic potential through SAT and SOL tutoring</p>
  <% if (!loggedIn) { %>
    <a class="btn btn-primary btn-lg" href="/register" role="button">Sign up</a>
  <% } %>
  <a class="btn btn-info btn-lg" href="/satprep" role="button">SAT Practice</a>
  <a class="btn btn-success btn-lg" href="/solprep" role="button">SOL Practice</a>
</div>
<% if (displayPractice) { %>
  <div style="margin-top: 40px;" class="container">
      <a href="/practicetype"><h1>Math Practice Sessions <span id="redbadge" class="badge badge-secondary">New</span></h1></a>
      <h3 class="changefont">
        Work through individual questions and solutions, and review questions you've
        completed. Your progress is saved, so you can pick up where you left off last time!</h3>
  </div>
<% } else { %>
  <div style="margin-top: 40px;" class="container">
    <a href="/answerkeys">
      <h1>View solutions to all SAT math questions <span id="redbadge" class="badge badge-secondary">New</span></h1>
    </a>
  </div>
<% } %>
<div class="container sectiontwo">
<h1 style="text-align: left; margin-top: 0px; margin-bottom: 50px;">About us:</h1>
  <div class="row">
    <div class="col-lg-4 col-sm-12">
        <i class="icons fa fa-bar-chart fa-5x" aria-hidden="true"></i>
        <h2 class="changefont">Recent SAT results show that students in Richmond's Public School system score below the state and national average, putting them at a disadvantage when applying for college.</h2>
    </div>
    <div class="col-lg-4 col-sm-12">
        <i class="icons fa fa-arrow-up fa-5x" aria-hidden="true"></i>
        <h2 class="changefont">By learning test-taking skills and reinforcing concepts learned in class, the College Readiness Initiative helps students increase their score on both the SAT and SOL.</h2>
    </div>
    <div class="col-lg-4 col-sm-12">
        <i class="icons fa fa-university fa-5x" aria-hidden="true"></i>
        <h2 class="changefont">Our tutors are local college students and other dedicated members of the Richmond community. Learn more about how to volunteer <a href="/volunteer">here.</a></h2>
    </div>
  </div>
  <h3 style="text-align: left;">Click <a style="display: inline-block;" href="/about">here</a> to learn more.</h3>
</div>

<% include partials/footer %>



