<% include partials/header %>
<div class="ui masthead center aligned segment home">
    <img class="ui fluid image" src="https://images.unsplash.com/photo-1488722796624-0aa6f1bb6399?auto=format&fit=crop&w=2550&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
    <h1 class="hometext hometitle huge header">The SAT Initiative</h1>
    <h2 class="hometext subhead">Helping Students in Richmond, Virginia achieve their full college potential through SOL and SAT tutoring</h2>
</div>





