<% include ./partials/header %>
<h1>I am a:</h1>

<input type="button" onclick="location.href='/login/student';" value="Student"/>
<input type="button" onclick="location.href='/login/tutor';" value="Tutor"/>
<input type="button" onclick="location.href='/login/admin';" value="Admin"/>





<% include ./partials/footer %>