<% include partials/header %>
<div class="jumbotron mathpic">
    <h1 id="math">Math Practice</h1>
</div>
    
    <div class="container">
        <h1>SAT Problems Sorted by Topic and Level</h1>

        <div id="accordion" role="tablist">
          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
              <h5 class="mb-0">
                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Expressions and Equations
                </a>
              </h5>
            </div>
        
            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body worksheets">
                <a href="/files/math/worksheets/equationsexpressions1.pdf">Level 1</a>
                <a href="/files/math/worksheets/equationsexpressions1.pdf">Level 1 Additional Problems</a>
                <a href="/files/math/worksheets/equationsexpressions2.pdf">Level 2</a>
                <a href="/files/math/worksheets/equationsexpressions3.pdf">Level 3</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Word Problems
                </a>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body worksheets">
                <a href="/files/math/worksheets/wordproblems1.pdf">Level 1</a>
                <a href="/files/math/worksheets/wordproblems1additional.pdf">Level 1 Additional Problems</a>
                <a href="/files/math/worksheets/wordproblems2.pdf">Level 2</a>
                <a href="/files/math/worksheets/wordproblems3.pdf">Level 3</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingThree">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Charts
                </a>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body worksheets">
                <a href="/files/math/worksheets/charts1.pdf">Level 1</a>
                <a href="/files/math/worksheets/charts1additional.pdf">Level 1 Additional Problems</a>
                <a href="/files/math/worksheets/charts2.pdf">Level 2</a>
                <a href="/files/math/worksheets/charts3.pdf">Level 3</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingFour">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Graphs
                </a>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body worksheets">
                <a href="/files/math/worksheets/graphs1.pdf">Level 1</a>
                <a href="/files/math/worksheets/graphs1additional.pdf">Level 1 Additional Problems</a>
                <a href="/files/math/worksheets/graphs2.pdf">Level 2</a>
                <a href="/files/math/worksheets/graphs3.pdf">Level 3</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingFive">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Geometry
                </a>
              </h5>
            </div>
            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
              <div class="card-body worksheets">
                <a href="/files/math/worksheets/geometry1.pdf">Level 1</a>
                <a href="/files/math/worksheets/geometry1additional.pdf">Level 1 Additional Problems</a>
                <a href="/files/math/worksheets/geometry2.pdf">Level 2</a>
                <a href="/files/math/worksheets/geometry3.pdf">Level 3</a>
              </div>
            </div>
          </div>
        </div>
        
    <div>
        <h1>Tutorials and Worksheets on Basic Math Concepts</h1>
        <h3 class="changefontbold">Tutorials</h3>
          <a href="/files/math/tutorialsandworksheets/mathtopicoverview.pdf">Topic Overview With Practice Questions</a>
          <a href="/files/math/tutorialsandworksheets/rationalexpressions.pdf">Rational Expressions</a>
          <a href="/files/math/tutorialsandworksheets/exponenttricks.pdf">Exponent Tricks</a>
        <h3 class="changefontbold">Expressions and Equations Worksheets with Solutions</h3>
        
        <div id="accordion" role="tablist">
          <div class="card">
            <div class="card-header" role="tab" id="headingOneb">
              <h5 class="mb-0">
                <a data-toggle="collapse" href="#collapseOneb" aria-expanded="true" aria-controls="collapseOneb">
                  Level 1
                </a>
              </h5>
            </div>
        
            <div id="collapseOneb" class="collapse" role="tabpanel" aria-labelledby="headingOneb" data-parent="#accordion">
              <div class="card-body worksheets">
                <a href="/files/math/tutorialsandworksheets/level1/addingsubtractingintegers.pdf">Adding/Subtracting Integers</a>
                <a href="/files/math/tutorialsandworksheets/level1/addingsubtractingfractions.pdf">Adding/Subtracting Fractions</a>
                <a href="/files/math/tutorialsandworksheets/level1/solvingbasicequations.pdf">Solving Basic Equations</a>
                <a href="/files/math/tutorialsandworksheets/level1/usingconstantstosolveequations.pdf">Using Constants to Solve Equations</a>
                <a href="/files/math/tutorialsandworksheets/level1/wordstoequation.pdf">Words to Equation</a>
                <a href="/files/math/tutorialsandworksheets/level1/factoringpolynomials.pdf">Factoring Polynomials</a>
                <a href="/files/math/tutorialsandworksheets/level1/basicnestedfunction.pdf">Basic Nested Functions</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingTwob">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseTwob" aria-expanded="false" aria-controls="collapseTwob">
                  Level 2
                </a>
              </h5>
            </div>
            <div id="collapseTwob" class="collapse" role="tabpanel" aria-labelledby="headingTwob" data-parent="#accordion">
              <div class="card-body worksheets">
                <a href="/files/math/tutorialsandworksheets/level2/solvingsystemsofequations.pdf">Solving Systems of Equations</a>
                <a href="/files/math/tutorialsandworksheets/level2/numberofsolutionstosystemsofequations.pdf">Number of Solutions to Systems of Equations</a>
                <a href="/files/math/tutorialsandworksheets/level2/rationalexpressions.pdf">Rational Expressions</a>
                <a href="/files/math/tutorialsandworksheets/level2/factoringpolynomialslevel2.pdf">Factoring Polynomials</a>
                <a href="/files/math/tutorialsandworksheets/level2/determiningvertexofpolynomials.pdf">Determining Vertex of Polynomials</a>
                <a href="/files/math/tutorialsandworksheets/level2/substitutiontosolvepolynomials.pdf">Using Substitution to Solve Polynomials</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingThreeb">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseThreeb" aria-expanded="false" aria-controls="collapseThreeb">
                  Level 3
                </a>
              </h5>
            </div>
            <div id="collapseThreeb" class="collapse" role="tabpanel" aria-labelledby="headingThreeb" data-parent="#accordion">
              <div class="card-body worksheets">
                <a href="/files/math/tutorialsandworksheets/level3/addingrationalexpressions.pdf">Adding Rational Expressions</a>
              </div>
            </div>
          </div>
    </div>
        <div>
        <h1>Math Practice Tests, Solutions, and Additional Practice</h1>
        <h3 class="changefontbold">Full math practice tests, worked out solutions, and similar additional problems to reinforce what you've learned.</h3>
        <div id="accordion" role="tablist">
          <div class="card">
            <div class="card-header" role="tab" id="headingOnec">
              <h5 class="mb-0">
                <a data-toggle="collapse" href="#collapseOnec" aria-expanded="true" aria-controls="collapseOnec">
                  Test 1
                </a>
              </h5>
            </div>
        
            <div id="collapseOnec" class="collapse" role="tabpanel" aria-labelledby="headingOnec" data-parent="#accordion">
              <div class="card-body worksheets">
                <h4>No Calculator Section</h4>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScfefuA8xhX8Fs41ED3McS0YXmMkjfAcSRK6H-8l1wn9OUMaQ/viewform?usp=sf_link">Self Grading Quiz</a>
                <a href="/files/math/practicetests/test1nc.pdf">Test 1 No Calculator PDF</a>
                <a href="/files/math/practicetests/test1ncsolutions.pdf">Solutions: No Calculator</a>
                <a href="/files/math/practicetests/test1additionalnc.pdf">Additional Problems: No Calculator</a>
                <h4>Calculator Section</h4>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSf90JJ4uV5PiBUMEh4SLPjX8zpHKxsECSQ-uL99CDNaE0uMoA/viewform?usp=sf_link">Self Grading Quiz</a>
                <a href="/files/math/practicetests/test1wc.pdf">Test 1 CalculatorPDF</a>
                <a href="/files/math/practicetests/test1wcsolutions.pdf">Solutions: With Calculator</a>
                <a href="/files/math/practicetests/test1additionalwc.pdf">Additional Problems: With Calculator</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingTwoc">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseTwoc" aria-expanded="false" aria-controls="collapseTwoc">
                  Test 2
                </a>
              </h5>
            </div>
            <div id="collapseTwoc" class="collapse" role="tabpanel" aria-labelledby="headingTwoc" data-parent="#accordion">
              <div class="card-body worksheets">
                <h4>No Calculator Section</h4>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSflMiyLk7RR3ZFusb-BBDmkUbvXBImEf_PeqzkfrbdCM04x_g/viewform?usp=sf_link">Self Grading Quiz</a>
                <a href="/files/math/practicetests/test2nc.pdf">Test 2 No Calculator PDF</a>
                <a href="/files/math/practicetests/test2ncsolutions.pdf">Solutions: No Calculator</a>
                <a href="/files/math/practicetests/test2additionalnc.pdf">Additional Problems: No Calculator</a>
                <h4>Calculator Section</h4>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSccx3hvq1XKMQH2smQLOQjN0AgxYruSi5ZLZDo2O2MKlaBLbg/viewform?usp=sf_link">Self Grading Quiz</a>
                <a href="/files/math/practicetests/test2wc.pdf">Test 2 Calculator PDF</a>
                <a href="/files/math/practicetests/test2wcsolutions.pdf">Solutions: With Calculator</a>
                <a href="/files/math/practicetests/test2additionalwc.pdf">Additional Problems: With Calculator</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingThreec">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseThreec" aria-expanded="false" aria-controls="collapseThreec">
                  Test 3
                </a>
              </h5>
            </div>
            <div id="collapseThreec" class="collapse" role="tabpanel" aria-labelledby="headingThreec" data-parent="#accordion">
              <div class="card-body worksheets">
                <h4>No Calculator Section</h4>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdwvCtMihVXQY10cKj0KZD2xlspLYbN0W9YWsYgNJS8pT8DMg/viewform?usp=sf_link">Self Grading Quiz</a>
                <a href="/files/math/practicetests/test3nc.pdf">Test 3 No Calculator PDF</a>
                <a href="/files/math/practicetests/test3ncsolutions.pdf">Solutions: No Calculator</a>
                <a href="/files/math/practicetests/test3additionalnc.pdf">Additional Problems: No Calculator</a>
                <h4>Calculator Section</h4>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSf-U9e06X3eeuFS-hmCVR_VoFNpezl7LSsRlaVn24u1Kbx5Pw/viewform?usp=sf_link">Self Grading Quiz</a>
                <a href="/files/math/practicetests/test3wc.pdf">Test 3 Calculator PDF</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSf-U9e06X3eeuFS-hmCVR_VoFNpezl7LSsRlaVn24u1Kbx5Pw/viewform?usp=sf_link">Solutions: With Calculator</a>
                <a href="/files/math/practicetests/test3additionalwc.pdf">Additional Problems: With Calculator</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingFourc">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseFourc" aria-expanded="false" aria-controls="collapseFourc">
                  Test 4
                </a>
              </h5>
            </div>
            <div id="collapseFourc" class="collapse" role="tabpanel" aria-labelledby="headingFourc" data-parent="#accordion">
              <div class="card-body worksheets">
                <h4>No Calculator Section</h4>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfyQLVIyK8T9tucsj5UaSTQptYIFgEtFPrl249fEt1CEGTHwQ/viewform?usp=sf_link">Self Grading Quiz</a>
                <a href="/files/math/practicetests/test4nc.pdf">Test 4 No Calculator PDF</a>
                <a href="/files/math/practicetests/test4ncsolutions.pdf">Solutions: No Calculator</a>
                <a href="/files/math/practicetests/test4additionalnc.pdf">Additional Problems: No Calculator</a>
                <h4>Calculator Section</h4>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdUlaVHcEN08UeOMF9UYJRVG_F9U32C2sFka0LxPWJPB5NUiw/viewform?usp=sf_link">Self Grading Quiz</a>
                <a href="/files/math/practicetests/test4wc.pdf">Test 4 Calculator PDF</a>
                <a href="/files/math/practicetests/test4wcsolutions.pdf">Solutions: With Calculator</a>
                <a href="/files/math/practicetests/test4additionalwc.pdf">Additional Problems: With Calculator</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingFivec">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseFivec" aria-expanded="false" aria-controls="collapseFivec">
                  Test 5
                </a>
              </h5>
            </div>
            <div id="collapseFivec" class="collapse" role="tabpanel" aria-labelledby="headingFivec" data-parent="#accordion">
              <div class="card-body worksheets">
                <h4>No Calculator Section</h4>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfdVlh9CVPx5ArDMn2Qcp8sQgilzGYNunOZ-MttRJovtqwUdw/viewform?usp=sf_link">Self Grading Quiz</a>
                <a href="/files/math/practicetests/test5nc.pdf">Test 5 No Calculator PDF</a>
                <a href="/files/math/practicetests/test4ncsolutions.pdf">Solutions: No Calculator</a>
                <h4>Calculator Section</h4>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdIMeZdoMx2oDmGMriMjj7_PofGl1xgRoVcYWRWaViHTh5gEw/viewform?usp=sf_link">Self Grading Quiz</a>
                <a href="/files/math/practicetests/test5wc.pdf">Test 5 Calculator PDF</a>
                <a href="/files/math/practicetests/test5wcsolutions.pdf">Solutions: With Calculator</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingSixc">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseSixc" aria-expanded="false" aria-controls="collapseSixc">
                  Test 6
                </a>
              </h5>
            </div>
            <div id="collapseSixc" class="collapse" role="tabpanel" aria-labelledby="headingSixc" data-parent="#accordion">
              <div class="card-body worksheets">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSf1YAtPnjD2dZWWfet0aEqAo5FHfLe0KpEAzUTqS-FONmr6_w/viewform?usp=sf_link">Self Grading Quiz</a>
                <a href="/files/math/practicetests/test6nc.pdf">Test 6 No Calculator PDF</a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdsvyNesGk-3tj_tkb-kIL-M1P9nzvgvmv6ZLlMTeyjR4oGPA/viewform?usp=sf_link">Self Grading Quiz</a>
                <a href="/files/math/practicetests/test6wc.pdf">Test 6 Calculator PDF</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingSevenc">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseSevenc" aria-expanded="false" aria-controls="collapseSevenc">
                  Test 7
                </a>
              </h5>
            </div>
            <div id="collapseSevenc" class="collapse" role="tabpanel" aria-labelledby="headingSevenc" data-parent="#accordion">
              <div class="card-body worksheets">
                <a href="/files/math/practicetests/test7nc.pdf">Test 7 No Calculator PDF</a>
                <a href="/files/math/practicetests/test7wc.pdf">Test 7 With Calculator PDF</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingEightc">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseEightc" aria-expanded="false" aria-controls="collapseEightc">
                  Test 8
                </a>
              </h5>
            </div>
            <div id="collapseEightc" class="collapse" role="tabpanel" aria-labelledby="headingEightc" data-parent="#accordion">
              <div class="card-body worksheets">
                <a href="/files/math/practicetests/test8nc.pdf">Test 8 No Calculator PDF</a>
                <a href="/files/math/practicetests/test8wc.pdf">Test 8 With Calculator PDF</a>
              </div>
            </div>
          </div>
    </div>

<% include partials/footer %>