<% include partials/header %>
<div class="jumbotron mathpic">
    <h1 id="math">Math Practice</h1>
</div>
    
    <div class="container">
        <h1>SAT Problems Sorted by Topic and Level</h1>
        <h3 class="changefontbold">Level indicates difficulty. Level 1 problems are the most basic, Level 2 problems are of medium difficulty, and Level 3 problems are among the toughest on the test.</h3>

        <div id="accordion" role="tablist">
          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
              <h5 class="mb-0">
                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Expressions and Equations
                </a>
              </h5>
            </div>
        
            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body worksheets">
                <a href="http://nebula.wsimg.com/e26151327c23e37fe9cffc39c73d202e?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Level 1</a>
                <a href="http://nebula.wsimg.com/9f43ef2d5aaaadf6ec9456f79c51c725?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Level 2</a>
                <a href="http://nebula.wsimg.com/4ba2af85bbd11d4e1090e6fec778103b?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Level 3</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Word Problems
                </a>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body worksheets">
                <a href="http://nebula.wsimg.com/e0b59ed9d772901f32eefbacbd744734?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Level 1</a>
                <a href="http://nebula.wsimg.com/593090f80130ffbf02dde173793e0d6b?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Level 1 Additional</a>
                <a href="http://nebula.wsimg.com/3708052d2c58fc2bd3c558354eb09eb8?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Level 2</a>
                <a href="http://nebula.wsimg.com/cb4377ce114ffee5d2967408e21a14ac?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Level 3</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingThree">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Charts
                </a>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body worksheets">
                <a href="http://nebula.wsimg.com/21f8739ce50dea4df7b62c26e50f4255?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Level 1</a>
                <a href="http://nebula.wsimg.com/9ebd0027e4a028d93bec1d773c3b23f1?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Level 1 Additional</a>
                <a href="http://nebula.wsimg.com/c7f9cb800f83092b79dc3a76d2e0fb9c?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Level 2</a>
                <a href="http://nebula.wsimg.com/71cc70a65579dd5c0c1107fb8caaaf23?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Level 3</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingFour">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Graphs
                </a>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body worksheets">
                <a href="http://nebula.wsimg.com/6ce349f8a4a8ed8614f22baa87fd9027?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Level 1</a>
                <a href="http://nebula.wsimg.com/faabfad8f804f16be1e8e1c48d55786c?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Level 1 Additional</a>
                <a href="http://nebula.wsimg.com/77359089bf58cca8befee027f7bfb8e0?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Level 2</a>
                <a href="http://nebula.wsimg.com/5ce6c2fb8c2ed9f7ca05c470d637e01d?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Level 3</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingFive">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Geometry
                </a>
              </h5>
            </div>
            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
              <div class="card-body worksheets">
                <a href="http://nebula.wsimg.com/c91ebe597d53af1ca74cf0d53e509178?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Level 1</a>
                <a href="http://nebula.wsimg.com/35fabb4b28646ad902a0a636651f5391?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Level 1 Additional</a>
                <a href="http://nebula.wsimg.com/c9d837f29710665cb52214277e3b24a1?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Level 2</a>
                <a href="http://nebula.wsimg.com/77aab461aab6199e763336d1ef08350b?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Level 3</a>
              </div>
            </div>
          </div>
        </div>
        
    <div>
        <h1>Tutorials and Worksheets on Basic Math Concepts</h1>
        <h3 class="changefontbold">Tutorials</h3>
        <a href="http://nebula.wsimg.com/7fb43090a559253a04fdbbfc5862d4dc?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Topic Overview With Practice Questions</a>
                    <a href="http://nebula.wsimg.com/1cee84a57e8d0d0680e51c2a513e2e92?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Rational Expressions</a>
            <a href="http://nebula.wsimg.com/3559e9024bf704cf1767c3f829dc9d46?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Exponent Tricks</a>
        <h3 class="changefontbold">Worksheets with Solutions</h3>
        
        <div id="accordion" role="tablist">
          <div class="card">
            <div class="card-header" role="tab" id="headingOneb">
              <h5 class="mb-0">
                <a data-toggle="collapse" href="#collapseOneb" aria-expanded="true" aria-controls="collapseOneb">
                  Level 1
                </a>
              </h5>
            </div>
        
            <div id="collapseOneb" class="collapse" role="tabpanel" aria-labelledby="headingOneb" data-parent="#accordion">
              <div class="card-body worksheets">
                <a href="http://nebula.wsimg.com/83a187dd76c5557b659701b0918e6685?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Adding/Subtracting Integers</a>
                <a href="http://nebula.wsimg.com/c6cbd766634b88f651854dda85a119cb?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Adding/Subtracting Fractions</a>
                <a href="http://nebula.wsimg.com/d52e74c9b867d0c7c27fbd44fa4bd14e?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Solving Basic Equations</a>
                <a href="http://nebula.wsimg.com/52a6b1b45e861ffced57a9f2d7ab8530?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Using Constants to Solve Equations</a>
                <a href="http://nebula.wsimg.com/9a284bd7b6dbebd42f365a1bfe0eb152?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Words to Equation</a>
                <a href="http://nebula.wsimg.com/45f26fa47e177919654139cc18b8de60?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Factoring Polynomials</a>
                <a href="http://nebula.wsimg.com/76d4a19343b0b47c7981794f321b85ce?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Basic Nested Functions</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingTwob">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseTwob" aria-expanded="false" aria-controls="collapseTwob">
                  Level 2
                </a>
              </h5>
            </div>
            <div id="collapseTwob" class="collapse" role="tabpanel" aria-labelledby="headingTwob" data-parent="#accordion">
              <div class="card-body worksheets">
                <a href="http://nebula.wsimg.com/a10c9a98eaafa1b519a6292c17eaf867?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Solving Systems of Equations</a>
                <a href="http://nebula.wsimg.com/ec647c7e7d4b6b3c253d69b909f2d047?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Number of Solutions to Systems of Equations</a>
                <a href="http://nebula.wsimg.com/10f01ad3bb34ba5e7b6de9f251f9f9ee?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Rational Expressions</a>
                <a href="http://nebula.wsimg.com/0b3e146dc45879110fa0c647b114d15d?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Factoring Polynomials</a>
                <a href="http://nebula.wsimg.com/a6b22b9cd01c74a03868a9eef885896e?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Determining Vertex of Polynomials</a>
                <a href="http://nebula.wsimg.com/2cd3ddd8a500190cfaa3c392ae5b335a?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Using Substitution to Solve Polynomials</a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingThreeb">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseThreeb" aria-expanded="false" aria-controls="collapseThreeb">
                  Level 3
                </a>
              </h5>
            </div>
            <div id="collapseThreeb" class="collapse" role="tabpanel" aria-labelledby="headingThreeb" data-parent="#accordion">
              <div class="card-body worksheets">
                <a href="http://nebula.wsimg.com/1d91a368f2ffccb357a6b6ca4e78ee94?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Adding Rational Expressions</a>
              </div>
            </div>
          </div>
    </div>

<% include partials/footer %>