<% include partials/header %>
<div class="container main">
    <h1 class="ui header">Math Practice</h1>
    <div class="ui raised segment text container">
        <h2>Worksheets by Topic</h2>
        <div class="ui horizontal divider"></div>
        <a>Expressions and Equations</a>
        <div class="ui horizontal divider"></div>
        <a>Word Problems</a>
        <div class="ui horizontal divider"></div>
        <a>Charts</a>
        <div class="ui horizontal divider"></div>
        <a>Graphs</a>
        <div class="ui horizontal divider"></div>
        <a>Geometry</a>
    </div>
    <div class="ui raised segment text container">
        <h2>General Tutorials</h2>
        <a href="http://nebula.wsimg.com/7fb43090a559253a04fdbbfc5862d4dc?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Topic Overview With Practice Questions</a>
        <div class="ui horizontal divider"></div>
        <a href="http://nebula.wsimg.com/1cee84a57e8d0d0680e51c2a513e2e92?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Rational Expressions</a>
        <div class="ui horizontal divider"></div>
        <a href="http://nebula.wsimg.com/3559e9024bf704cf1767c3f829dc9d46?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Exponent Tricks</a>
        <div class="ui horizontal divider"></div>
        <a href="http://nebula.wsimg.com/83a187dd76c5557b659701b0918e6685?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Adding/Subtracting Integers</a>
        <div class="ui horizontal divider"></div>
        <a href="http://nebula.wsimg.com/c6cbd766634b88f651854dda85a119cb?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Adding/Subtracting Fractions</a>
        <div class="ui horizontal divider"></div>
        <a href="http://nebula.wsimg.com/d52e74c9b867d0c7c27fbd44fa4bd14e?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Solving Basic Equations</a>
        <a href="http://nebula.wsimg.com/52a6b1b45e861ffced57a9f2d7ab8530?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Using Constants to Solve Equations</a>
        <div class="ui horizontal divider"></div>
        <a href="http://nebula.wsimg.com/9a284bd7b6dbebd42f365a1bfe0eb152?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Words to Equation</a>
        <div class="ui horizontal divider"></div>
        <a href="http://nebula.wsimg.com/45f26fa47e177919654139cc18b8de60?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Factoring Polynomials</a>
        <div class="ui horizontal divider"></div>
        <a href="http://nebula.wsimg.com/76d4a19343b0b47c7981794f321b85ce?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Basic Nested Functions</a>
        
    </div>
</div>
