<% include partials/header %>
<div class="jumbotron readingpic">
    <h1 id="reading">Permission Denied</h1>
</div>
<div class="container main">
   <h2>We're sorry, you don't have permission to access that page.</h2>
</div>
<% include partials/footer %>