<% include partials/header %>
<div class="jumbotron pencilpic">
    <h1 id="hometitle">Practice</h1>
</div>
<h1><%= student.username %></h1>
<% questions.forEach(function(question){ %>
        <img src="<%= question.image_link %>" width="600px">
        <h1><%= question.answer %></h1>
       <h1><%= question.category %></h1>
<% }) %>

<% include partials/footer %>