<% include partials/header %>
<div class="jumbotron pencilpic">
    <h1 id="hometitle">Practice</h1>
</div>

<% questionTypes.forEach(function(type){ %>
        <h1><%= type %></h1>
<% }) %>


<% include partials/footer %>