<% include partials/header %>
<div class="jumbotron bookstackpic">
  <h1 id="profiletitle">Student Profile</h1>
</div>

<div class="profileinfo">
	<div class="wrapper">
		<aside class="aside aside-1"><img style="width: 200px;" src="https://image.freepik.com/free-icon/male-university-graduate-silhouette-with-the-cap_318-61897.jpg" /></aside>
		<article class="main">
			<h3>Name: <%= user.name %></h3>
			<h3>School: <%= user.school%></h3>
			<h3>Tutoring Sessions Attended: <%= user.num_tutoring_sessions%></h3>
		</article>
		</div>
</div>
<% include partials/footer %>
