<% include partials/header %>

<div class="jumbotron profilepic">
  <h1 id="profiletitle">Welcome Back, First Name! </h1>
</div>

<div class="profileinfo">
	<div class="wrapper">
		<article class="main">
			<h3>First Name Last Name</h3>
			<h3>name@email.com</h3>
			<h3>(123) 456-7890</h3>
			<h3>Address</h3>
		</article>
		<aside class="aside aside-1"><img src="https://placekitten.com/200/300" /></aside>
		</div>
</div>

<div class="schoolinfo"> 
    <div class="list-group">
          <p class="list-group-item list-group-item-action active practicetesttext">
             High School Information 
          </p>
          <p class="list-group-item list-group-item-action">Name: North High School</p>
	  <p class="list-group-item list-group-item-action">Year: 2024</p>
          <p class="list-group-item list-group-item-action">Weighted GPA: 4.0</p>
          <p class="list-group-item list-group-item-action">Unweighted GPA: W4.0</p>
          <p class="list-group-item list-group-item-action">Class Rank: 1 (250)</p>
        </div>
</div>

<div class="testinfo">
    <div class="list-group">
          <p class="list-group-item list-group-item-action active practicetesttext">
             Previous Testing Information 
          </p>
          <p class="list-group-item list-group-item-action">Test 2</p>
          <p class="list-group-item list-group-item-action">Test 3</p>
        </div>
</div>
<% include partials/footer %>
