<% include partials/header %>
<div class="jumbotron bookstackpic">
    <% if (type == "Admin") { %>
        <h1 id="profiletitle">Admin Profile</h1>
    <% } else { %>
        <h1 id="profiletitle">Tutor Profile</h1>
    <% } %>
</div>

<div class="container">
    <div class="wrapper" style="float: left; margin-bottom: 50px;">
        <article class="main">
            <h4><i class="fa fa-user"></i>
                <%= user.name %>
            </h4>
            <h4><i class="fa fa-envelope"></i>
                <%= user.username %>
            </h4>
        </article>
    </div>
</div>
<div class="container">
    <% if (type == "Admin") { %>
        <div class="container sectiontwo">
            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <i class="icons fa fa-bar-chart fa-5x" aria-hidden="true"></i>
                    <a href="/analytics"><h3>Analytics Page</h3></a>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <i class="icons fa fa-file-upload fa-5x" aria-hidden="true"></i>
                    <a href="/questionupload"><h3>Question Upload Page</h3></a>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <i class="icons fa fa-school fa-5x" aria-hidden="true"></i>
                    <a href="/schoolupload"><h3>School Upload Page</h3></a>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <i class="icons fa fa-pencil-alt fa-5x" aria-hidden="true"></i>
                    <a href="/testdateupload"><h3>Test Date Upload Page</h3></a>
                </div>
            </div>
        </div>
    <% } %>
</div>
<% include partials/footer %>