<% include partials/header %>
<div class="jumbotron bookstackpic">
    <h1 id="profiletitle">Profile</h1>
</div>

<div class="container">
    <div class="wrapper" style="float: left; margin-bottom: 50px;">
        <article class="main">
            <h4><i class="fa fa-user"></i>
                <%= user.name %>
            </h4>
            <h4><i class="fa fa-envelope"></i>
                <%= user.username %>
            </h4>
        </article>
    </div>
</div>
<div class="container">
    <% if (type == "Admin") { %>
    <a href="/analytics"><h3>Analytics Page</h3></a>
    <% } %>
</div>
<% include partials/footer %>