<% include partials/header %>

<div class="jumbotron profilepic">
  <h1 id="profiletitle">Welcome Back, First Name! </h1>
</div>
<div class="profileinfo">

</div>

<div class="schoolinfo"> 

</div>

<div class="testinfo">

</div>

<div class="familyinfo">
 
</div>



<% include partials/footer %>
