<% include partials/header %>

<!-- regex extracts imageID from google drive image -->
<% var regex = /^\/d\/(.+)/; %>
<% var imageID = question.image_link.match(/\/d\/(.+?)\/view/)[1]; %>
<% var imageURL = "https://drive.google.com/uc?export=view&id=" + imageID %>
<div class="container">
  <div align="center">
    <img src="<%= imageURL %>" , alt="Question Image">
  </div>
  
  <form action="/question"></form>
  <% if (question.isMC == true) { %>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="answerA" id="radio1" value="option1" checked>
    <label class="form-check-label" for="radio1">A</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="answerB" id="radio2" value="option1" checked>
    <label class="form-check-label" for="radio2">B</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="answerC" id="radio3" value="option1" checked>
    <label class="form-check-label" for="radio3">C</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="answerD" id="radio4" value="option1" checked>
    <label class="form-check-label" for="radio4">D</label>
  </div>
  <% } else { %>
  <div class="form-group">
    <label for="answerInput">Type answer below: </label>
    <input class="form-control form-control-lg" type="text" name="answerInput" id="answerInput">
  </div>
  <% } %>
  <button type="submit" class="btn btn-primary">Submit Answer</button>
</div>

<% include partials/footer %>
