<% include partials/header %>

<div class="jumbotron notebookpic">
    <h1 id="pagetitle">Upload Test Questions</h1>
    <h2 class="pagesub">Upload CSV of Test Questions</h2>
</div>
<div class="container pagetext">
    <h2>Instructions for Uploading Question Data</h2>
    <p>To add new questions to the question database, create a CSV (e.g. Microsoft Excel Sheet, Google Sheets tab) with the following columns in order:</p>
    <ol>
        <li>Description</li>
        <li>Knowledge</li>
        <li>Test Number</li>
        <li>Calculator Needed (W/N)</li>
        <li>Question Link</li>
        <li>Difficulty</li>
	<li>Question Type</li>
	<li>Question Number</li>
	<li>Category</li>
	<li>Sub-category</li>
	<li>Answer (If Multiple Choice, a capital letter, or if Numerical, the numerical value)</li>
    </ol>

    <p>When you are finished entering all of your data, generate a URL to download your file and enter it in the field below. Click "Submit" to upload the questions within the file.</p>

    <h2><u>Upload CSV File</u></h2>
    <form>
	<div class="input-group mb-3">
    	    <input type="text" class="form-control" id="URL" placeholder="Enter URL">
	</div>
	<br />
        <button type="submit" class="btn btn-primary" onclick="submitURL()">Submit</button>
	</form>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.6.1/papaparse.min.js"></script>
	<script type="text/javascript" src='/models/parseCSV.js'></script>
	<script type="text/javascript">
		function submitURL() {
		    var url = document.getElementById("URL").value; //pull URL
		    
        	    Papa.parse(url, { //using Papa Parse
                	    //these are the configuration values for the parse
                	    download: true, //required for a URL
                	    header: false, //don't use headers for data array
                	    trimHeaders: true, //trim spaces from headers if applicable
                	    dynamicTyping: false, //parse everything as string; cast types later
                	    preview: 0, //parses all rows with content
                	    encoding: "", //not specifying a default encoding
                	    worker: false, //worker not necessary; the csv won't be large
                	    comments: false, //there shouldn't be comments in csv
                	    step: undefined, //streaming not necessary, file not large enough
                	    complete: function(results) { //store results of parse (callback)
                        	    console.log("Finished parsing!", results.data);
                        	    parseCSV(results.data);
				    console.log("Finished uploading!");
                	    },
                	    skipEmptyLines: true, //skip empty rows
                	    chunk: undefined, //step is being used; don't chunk (bad practice)
                	    fastMode: true, //there are no " characters, will speed up parse
                	    beforeFirstChunk: undefined, //no chunking; not defined
                	    transform: undefined //no need to transform; will do in loop
        	    });

		    window.alert("Submitted " + url + " successfully!");
		}
	</script>
</div>


<% include partials/footer %>
