<% include partials/header %>

<div class="jumbotron notebookpic">
    <h1 id="pagetitle">Upload Test Questions</h1>
    <h2 class="pagesub">Upload CSV of Test Questions</h2>
</div>
<div class="container pagetext">
    <h2>Instructions for Uploading Question Data</h2>
    <p>To add new questions to the question database, create a CSV (e.g. Microsoft Excel Sheet, Google Sheets tab) with the following columns in order:</p>
    <ol>
        <li>Description</li>
        <li>Knowledge</li>
        <li>Test Number</li>
        <li>Calculator Needed (W/N)</li>
        <li>Question Link</li>
        <li>Difficulty</li>
	<li>Question Type</li>
	<li>Question Number</li>
	<li>Category</li>
	<li>Sub-category</li>
	<li>Answer (If Multiple Choice, a capital letter, or if Numerical, the numerical value)</li>
    </ol>

    <p>When you are finished entering all of your data, generate a URL to download your file and enter it in the field below. Click "Submit" to upload the questions within the file.</p>

    <h2><u>Upload CSV File</u></h2>
    <form>
	<div class="input-group mb-3">
    	    <input type="text" class="form-control" id="URL" placeholder="Enter URL">
	</div>
	<br />
        <button type="submit" class="btn btn-primary" onclick="submitURL()">Submit</button>
	</form>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.6.1/papaparse.min.js"></script>
	<script type="text/javascript" src='/models/bundle.js'></script>
	<script type="text/javascript">
		function submitURL() {
		    var url = document.getElementById("URL").value; //pull URL
		    parseCSV(url);
		    window.alert("Submitted " + url + " successfully!");
		}
	</script>
</div>


<% include partials/footer %>
