<% include partials/header %>
<div class="jumbotron readingpic">
    <h1 id="reading">Reading Practice</h1>
</div>
<div class="container main">
        <h1>Short Practice Worksheets</h1>
        <p>These worksheets contain short readings with sample questions for a quick way to get a feel for the reading section.</p>
            <a href="/files/reading/reading1.pdf">Practice 1</a>
            <a href="/files/reading/reading2.pdf">Practice 2</a>
            <a href="/files/reading/reading3.pdf">Practice 3</a>
            <a href="/files/reading/reading4.pdf">Practice 4</a>
            <a href="/files/reading/reading5.pdf">Practice 5</a>
            <a href="/files/reading/reading6.pdf">Practice 6</a>
            <a href="/files/reading/reading7.pdf">Practice 7</a>
            <a href="/files/reading/reading8.pdf">Practice 8</a>
        
        <h1>Full Reading Practice Tests</h1>
        <p>For solutions, go to the solutions document of the corresponding full test under the Full Practice Tests page.</p>
            <a href="/files/reading/readingtest1.pdf">Practice Test 1</a>
            <a href="/files/reading/readingtest2.pdf">Practice Test 2</a>
            <a href="/files/reading/readingtest3.pdf">Practice Test 3</a>
            <a href="/files/reading/readingtest4.pdf">Practice Test 4</a>
            <a href="/files/reading/readingtest5.pdf">Practice Test 5</a>
            <a href="/files/reading/readingtest6.pdf">Practice Test 6</a>
            <a href="/files/reading/readingtest7.pdf">Practice Test 7</a>
            <a href="/files/reading/readingtest8.pdf">Practice Test 8</a>
</div>
<% include partials/footer %>