<% include partials/header %>
<div class="container main">
    <h1 class="ui header">Reading Practice</h1>
    <!--<div class="ui raised segment text container">-->
        <h1>Short Practice Worksheets</h1>
        <p>These worksheets contain short readings with sample questions for a quick way to get a feel for the reading section.</p>
            <a href="http://nebula.wsimg.com/35c02163f69f5bf9e3d6ba1c618418cc?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Practice 1</a>
            <a href="http://nebula.wsimg.com/32b2adb5f50f91773495f271243b51e4?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Practice 2</a>
            <a href="http://nebula.wsimg.com/0dbcd7d86e6108b7712f2630b4a40f4d?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Practice 3</a>
            <a href="http://nebula.wsimg.com/f76b3fd52ab63732aab3b316302795d8?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Practice 4</a>
            <a href="http://nebula.wsimg.com/d92aa2f556fa32da91fcb5889fb3ddda?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Practice 5</a>
            <a href="http://nebula.wsimg.com/de2b44d3a04891d5a3d08a8fb98fd6fd?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Practice 6</a>
            <a href="http://nebula.wsimg.com/2cfc7a4b3861004083b2297f817bb3ee?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Practice 7</a>
            <a href="http://nebula.wsimg.com/49e0b30dc239826c9e8f7537d3c79422?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Practice 8</a>
        <!--<div class="ui horizontal divider"></div>-->
    <!--</div>-->
</div>