<% include ./partials/header %>

<h1>Admin Sign Up!</h1>

<form action="/register/admin" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Sign up!</button>
</form>
<% include ./partials/footer %>