<% include ./partials/header %>
<h1>I am a:</h1>

<input type="button" onclick="location.href='/register/student';" value="Student" />
<input type="button" onclick="location.href='/register/tutor';" value="Tutor" />
<input type="button" onclick="location.href='/register/admin';" value="Admin" />





<% include ./partials/footer %>