<% include partials/header %>

<div class="jumbotron bookstackpic">
    <h1 id="tutoringtitle">Tutoring Center</h1>
    <h2 id="tutoringsub">Get some help! Stop being stupid today</h2>
</div>
<div class="container">
    <div id="tutoringtext">
        <p>Coming soon.. </p>
    </div>
</div>

<% include partials/footer %>
