<% include partials/header %>
<div class="jumbotron bookstackpic">
  <h1 id="volunteer">Volunteer</h1>
</div>

<div class="container">
    <h2 class="changefontbold">Contact us at theSATinitiative@gmail.com to start volunteering at a Richmond Public School.</h2>
</div>

<% include partials/footer %>