<% include partials/header %>
<div class="jumbotron bookstackpic">
  <h1 id="volunteer">Volunteer</h1>
</div>

<div class="container">
    <h1><a href="https://docs.google.com/forms/d/1ImPg8p-VuKlKJHEwWC286j1d-2aUP4F7I13EXuI8yJg/edit">Volunteer Interest Form</a></h1>
    <h2 class="changefontbold">To begin volunteering with the College Readiness Initiative, please submit your contact information in the form above and we will be in touch with you shortly. If you have any additional questions, please contact us at collegereadyrva@gmail.com.</h2>

</div>

<% include partials/footer %>