<% include partials/header %>
<div class="jumbotron writingpic">
    <h1 id="writing">Writing/Language Practice</h1>
</div>
<div class="container main">
        <h1>Grammar Guides</h1>
        <p>Guides to the grammar topics that commonly appear on the Writing Section.</p>
            <a href="/files/grammarguides/theretheirthey're.pdf">They're - There - Their</a>
            <a href="/files/grammarguides/runonsentences.pdf">Run-on Sentences</a>
            <a href="/files/grammarguides/transitionwords.pdf">Transition Words</a>
            <a href="/files/grammarguides/apostrophes.pdf">Apostrophes</a>
            <a href="/files/grammarguides/capitalization.pdf">Capitalization</a>
            <a href="/files/grammarguides/idioms.pdf">Idioms & Expressions</a>
            <a href="/files/grammarguides/subjectverb.pdf">Subject-Verb Agreement</a>
            <a href="/files/grammarguides/activepassivevoice.pdf">Active v. Passive Voice</a>
        <div class="ui horizontal divider"></div>
    </div>
</div>

<% include partials/footer %>