<% include partials/header %>
<div class="container main">
    <h1 class="ui header">Writing and Language Practice</h1>
    <div class="ui raised segment text container">
        <h1>Grammar Guides</h1>
        <p>Guides to the grammar topics that commonly appear on the Writing Section.</p>
            <a href="http://nebula.wsimg.com/e2d2f026d33dbb1bf5181349db762188?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">They're - There - Their</a>
            <a href="http://nebula.wsimg.com/6e5fe2697562acb48f1fdb2354d43f6c?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Run-on Sentences</a>
            <a href="http://nebula.wsimg.com/ecbf07676cd447dcd46641a960ac6e85?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Transition Words</a>
            <a href="http://nebula.wsimg.com/93a17257edf25ddab2b9cfbbb11162b9?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Apostrophes</a>
            <a href="http://nebula.wsimg.com/0a82b760e9b29b16535f355754f3e5df?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Capitalization</a>
            <a href="http://nebula.wsimg.com/858f92d46748afdf9f9dbcce39c75edc?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Idioms & Expressions</a>
            <a href="http://nebula.wsimg.com/66d821dfd92a5f43894c055e67824aab?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Subject-Verb Agreement</a>
            <a href="http://nebula.wsimg.com/3a55b0549b7c16334f60df631605def3?AccessKeyId=0D048B4CD03E0CB8531F&disposition=0&alloworigin=1">Active v. Passive Voice</a>
        <div class="ui horizontal divider"></div>
    </div>
</div>

