<% include partials/header %>
<div class="jumbotron writingpic">
    <h1 id="writing">Writing/Language Practice</h1>
</div>
<div class="container main">
        <h1>Grammar Guides</h1>
        <p>Guides to the grammar topics that commonly appear on the Writing Section.</p>
            <a href="/files/writing/theretheirthey're.pdf">They're - There - Their</a>
            <a href="/files/writing/runonsentences.pdf">Run-on Sentences</a>
            <a href="/files/writing/transitionwords.pdf">Transition Words</a>
            <a href="/files/writing/apostrophes.pdf">Apostrophes</a>
            <a href="/files/writing/capitalization.pdf">Capitalization</a>
            <a href="/files/writing/idioms.pdf">Idioms & Expressions</a>
            <a href="/files/writing/subjectverb.pdf">Subject-Verb Agreement</a>
            <a href="/files/writing/activepassivevoice.pdf">Active v. Passive Voice</a>
        <h1>Full Writing Practice Tests</h1>
        <p>For solutions, go to the solutions document of the corresponding full test under the Full Practice Tests page.</p>
            <a href="/files/writing/writingtest1.pdf">Practice Test 1</a>
            <a href="/files/writing/writingtest2.pdf">Practice Test 2</a>
            <a href="/files/writing/writingtest3.pdf">Practice Test 3</a>
            <a href="/files/writing/writingtest4.pdf">Practice Test 4</a>
            <a href="/files/writing/writingtest5.pdf">Practice Test 5</a>
            <a href="/files/writing/writingtest6.pdf">Practice Test 6</a>
            <a href="/files/writing/writingtest7.pdf">Practice Test 7</a>
            <a href="/files/writing/writingtest8.pdf">Practice Test 8</a>
    </div>
</div>

<% include partials/footer %>