<% include ../partials/header %>

<div class="container">
    <h1>Congrats, you've finished all questions in the <%= type %> category! </h1>
    <br>
    <h3><a href="/reviewmissed">Review what questions you've missed</a></h3>
    <h3><a href="/reviewcorrect">Review what you've gotten correct</a></h3>
</div>

<% include ../partials/footer %>