<% include ../partials/header %>

<div class="jumbotron notebookpic">
    <h1 id="pagetitle">New Tutoring Session</h1>
    <h2 class="pagesub">Start a new tutoring session!</h2>
</div>

<div class="container" align="center">
    <div class="container">
        <h1>Are You With A Tutor?</h1>
    </div>
    <div class="container">
        <a href="/tutoring" class="btn btn-primary btn-lg" role="button"
            aria-pressed="true">I'm With A Tutor</a>
        <a href="/tutoring" class="btn btn-primary btn-lg" role="button"
            aria-pressed="true">I'm Not With A Tutor</a>
    </div>
</div>

<% include ../partials/footer %>
