.navbar {
    background-color: white;
    margin:0; 
}

.practicetesttext {
    font-size: 2em;
}

div a:after {
  content: "";
  display: block;
  height: 0;
  width: 1px;
}

#hometitle {
    padding-top: 100px;
    color: white;
    font-size: 5em;
    text-align: center;
    text-shadow: 2px 2px black;
    font-family: 'Roboto', sans-serif;
}

.homesub {
    padding-top: 25px;
    color: white;
    font-size: 2.5em;
    text-align: center;
    text-shadow: 2px 2px black;
    font-family: 'Roboto', sans-serif;
}

.changefont {
    font-family: 'Roboto', sans-serif;
}

.icons {
    color: #4286f4;
}

#home {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://images.unsplash.com/photo-1488722796624-0aa6f1bb6399?auto=format&fit=crop&w=2550&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

#home2 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#about {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://images.unsplash.com/photo-1471107191679-f26174d2d41e?auto=format&fit=crop&w=966&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
}

#abouttitle {
    padding-top: 75px;
    color: white;
    font-size: 4em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px black;
}

#aboutsub {
    padding-top: 25px;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
}

#abouttext {
    font-size: 1.5em;
}

.math {
    text-align: center;
}






