i.icon {
    font-size: 2em;
}

.ui.fluid.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.container.main {
    margin: 7.0em;
}

.home {
    padding-top: 200px;
    height: 600px;
    display: block;
    position: relative;
    overflow: hidden;
    
}

.hometext {
    display: block;
    position: relative;
    overflow: hidden;
}

.hometitle {
    padding-top: 200px;
    color: white;
    font-size: 5em;
    text-shadow: 2px 2px black;
}

.subhead {
    padding-top: 30px;
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px black;
    /*-webkit-text-stroke-width: 2px;*/
    /*-webkit-text-stroke-color: black;*/
}

.headerlink {
    color: black;
}

.about {
    margin-top: 4em;
}

.practicetest {
    margin: 4em;
}

.practicetesttext {
    font-size: 2em;
}


